@{
    ViewData["Title"] = "History";
}
<div>
    <h1><b>История</b></h1>
    <hr />
    <br />
</div>

<container>
    <h1 class="text-center">История на НХГ "Св. св. Кирил и Методий" - Благоевград</h1>
    <hr />
    <div>
        <p>
            НХГ "Св.св Кирил и Методий" е правоприемник и продължител на традициите на Българска мъжка гимназия,
            открита с акт на екзарх Йосиф през 1880 година в Солун. Това е първото българско светско училище в
            Македония, създадено в резултат на дългогодишните борби на българите към култура, просвета и национално
            обособяване, поддържано и утвърждавано с голяма любов и гордост от Солунската българска община,
            Българската екзархия, възрожденския порив на българските учители между които са Кузман Шапкарев,
            Божил Райнов, Григор Пърличев, архимандрит Козма Пречистански, Трайко Китанчев, Констатин Стателов,
            Константин Желязков, Георги Кандиларов, Георги Попов, Гьорче Петров, Иван Гарванов, Павел Шатев,
            Константин Величков, Андрей Тошев, Михайл Сарафов, Антон Попсоилов и много други възпитаници на
            най-реномирани европейски университети.
        </p>
    </div>
    <div class="text-center">
        <p>
            Солунската българска мъжка гимназия и нейният преподавателски персонал
            през учебната 1888-1889г.
        </p>
        <div>
            <img class="img-fluid" src="http://nhg-blg.com/history1.jpg" />
        </div>
    </div>
    <br />
    <div class="text-center">
        <p>
            Тържество по случай 11 май в Солунската българска мъжка гимназия. Преди 1913 г. Публикувано в "Илюстрация Илинден", година 2, София, май 1929, книга 6(16), с. 1.
        </p>
        <div>
            <img class="img-fluid" src="http://nhg-blg.com/history3.jpg" />
        </div>
    </div>
    <br />
    <p>
        В създадените класически, педагогически 
        и търговски отдели на гимназията се осъществява модерно
        светско образование, което скоро спечелва на гимназията
        славата на "македонската Алма Матер". Стотици са възпитаниците
        на гимназията, формирали интелигенцията на нова България - 
        учени, университетски преподаватели, дипломати, поети и
        писатели, инженери, архитекти, офицери, министри, 2 премиер
        -министри, художници. Учители и ученици на гимназията са
        създателите на ВМРО и активни участници в освободителните
        борби на българите от Македония - Даме Груев, Гоце Делчев,
        Иван Караджов, Пере Тошев, Борис Сарафов, Константин Бараков
        , Ванче Михайлов и много други герои дали живота си за свободата
        и просперитета на България. След I и II Балканска война гимназията е разрушена, а учениците и учителите прокудени. След дълги странствания през Петрич, Струмица и Щип през 1920 година по настояване на гражданството на град Горна Джумая /днес Благоевград/ с с активното съдействие на общинската управа, Гимназията окончателно се установява в града. През 1934 година е завършена сградата, в която тя се помещава до днес. Безспорна е ролята на Гимназията от идването и в града и до наши дни.През 1973 г.от паралелки с профил „Математика” се създава Природо математическа гимназия, през 1984 г .от езиковите паралелки се създава Езикова гимназия и през 1991г. от паралелките с изучаване на руски език се създава СОУИЧЕ. Това е най-ярко доказателство ,че Гимназията е непресъхващ извор както за развитието на просветното дело в региона, така и за създаване на интелигенцията му, за образованието на няколко поколения,
        достойни строители на съвременна България.
    </p>
    <hr /> 
    <br />
    <div style="text-align: center"><h1>Гимназията в настоящето</h1></div>
    <hr />
    <div class="row">
        <p class="col">
            Със заповед на Министъра на народната просвета от 29.08.1991 година е открита Национална хуманитарна гимназия "Св.св. Кирил и Методий", правоприемник и продължител на Политехническа гимназия "Кирил и Методий" - бивша Солунска. В гимназията работят 64 висококвалифицирани учители, които обучават 703 ученика в профилите "Хуманитарен" и "Изкуства". Началото на профилираното обучение е поставено през 1984 година с приемането на една паралелка с разширено изучаване на Изобразително изкуство. През 1989 година е приета първата паралелка с разширено изучаване на Музика, а от 1991 година се осъществява разширено изучаване на Български език и литература. Приемът на ученици след завършен седми клас е за профилирани хуманитарни паралелки с интензивно изучаване на английски или немски език и профилиращи предмети - Български език и литература, история и философия и английски език.
        </p>
        <div class="col">
            <img class="img-fluid" src="http://nhg-blg.com/history2.jpg" />
        </div>
    </div>
    <p>
        За стимулиране на интересите и творческите заложби на учениците е създадена възможност за избор на втори чужд език, СИП и други извънкласни форми, както и работа по проекти "Репродуктивно здраве", финансиран от ПРООН, Превенция на зависимости в училище", финансиран от програма Матра, междуучилищно партньорство с ученици от Белгия, Полша, Дания и Германия по програма Сократ. Особено горди сме с успехите на нашите ученици на различните общински и национални конкурси, олимпиади, състезания, предавания по регионални и национални медии, конкретните изяви на отделни ученици, на класическия хор, на народния хор, на хора за автентичен фолклор, на Биг-бенда на гимназията, с наградите на учениците от паралелки изобразително изкуство и изложбите им в училище и в художествени галерии. Активна роля в училищния живот играе Ученическия съвет и Училищното настоятелство.
    </p>
</container>