@{
    ViewData["Title"] = "Council";
}

<div>
    <h1><b>Ръководство</b></h1>
    <hr />
    <br />
</div>

<container>
    <div class="product d-flex justify-content-between w-50">
        <div class="image-holder w-50">
            <img src="http://nhg-blg.com/%D0%9C%D0%98%D0%A2%D0%9E%D0%92.jpg" alt="https://www.freeiconspng.com/uploads/no-image-icon-6.png" class="img-thumbnail">
        </div>
        <div class="data-holder w-75 px-3 mt-2">
            <div class="text-holder d-flex justify-content-between">
                <h5>Длъжност: </h5>
                <h5>Директор</h5>
            </div>
            <div class="text-holder d-flex justify-content-between">
                <h5>Име: </h5>
                <h5>Марин Митов</h5>
            </div>
            <div class="text-holder d-flex justify-content-between">
                <h5>Катедра: </h5>
                <h5>Физика и математика</h5>
            </div>
        </div>
    </div>
    <br />
    <hr>
    <div class="product d-flex justify-content-between w-50">
        <div class="image-holder w-50">
            <img src="http://nhg-blg.com/%D0%A1%D0%92%D0%95%D0%A2%D0%9B%D0%90.jpg" alt="https://www.freeiconspng.com/uploads/no-image-icon-6.png" class="img-thumbnail">
        </div>
        <div class="data-holder w-75 px-3 mt-2">
            <div class="text-holder d-flex justify-content-between">
                <h5>Длъжност: </h5>
                <h5>Зам. директор по УВД</h5>
            </div>
            <div class="text-holder d-flex justify-content-between">
                <h5>Име: </h5>
                <h5>Светлана Солачка</h5>
            </div>
            <div class="text-holder d-flex justify-content-between">
                <h5>Катедра: </h5>
                <h5>Химия и физика;</h5>
            </div>
        </div>
    </div>
</container>