@using SchoolApp.Data.Models;

@{
    ViewData["Title"] = "Council";
}

<div>
    <h1><b>Ръководство</b></h1>
    <hr />
    <br />
</div>

<conainer>
@if (ViewData["council"] != null)
{
    List<Personnel> personnelInfo = (List<Personnel>)ViewData["council"];
    foreach (var i in personnelInfo)
    {
        <div class="d-flex justify-content-between w-50">
            <div class="image-holder w-50">
                <img class="img-thumbnail" src="@i.PictureUrl" alt="https://www.freeiconspng.com/uploads/no-image-icon-6.png" />
            </div>
            <div class="data-holder w-75 px-3 mt-2">
                <div class="text-holder d-flex justify-content-between">
                    <h5>Длъжност: </h5>
                    <h5>@i.Role.GetType().Name</h5>
                </div>
                <div class="text-holder d-flex justify-content-between">
                    <h5>Име: </h5>
                    <h5>@i.FirstName @i.ThirdName</h5>
                </div>
                <div class="text-holder d-flex justify-content-between">
                    <h5>Катедра: </h5>
                    <h5></h5>
                </div>
            </div>
        </div>
        <br />
        <hr>
    }
}
</conainer>